In [243]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

# Q1

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload date E) Views

In [37]:
wiki=webdriver.Chrome()

In [38]:
wiki.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
wiki.maximize_window()

In [40]:
search_bar=wiki.find_element(By.XPATH,'/html/body/div[1]/header/div[2]/div/div/div/form/div/div/div[1]/input')
search_bar.send_keys('most viewed videos on youtube')
search_button=wiki.find_element(By.XPATH,'/html/body/div[1]/header/div[2]/div/div/div/form/div/button')
search_button.click()

In [68]:
Rank=[]
rank=wiki.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

Name=[]
name=wiki.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)

Artist=[]
artist=wiki.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)
    
Views=[]
views=wiki.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
        Views.append(i.text)
UD=[]
upload_date=wiki.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
        UD.append(i.text)

In [70]:
len(rank),len(Name),len(Artist),len(Views),len(UD)

(30, 30, 30, 30, 30)

In [69]:
Most_viewd_videos_on_YouTube=pd.DataFrame({"Rank":Rank, "Name":Name, "Artist":Artist, "Views":Views, "Updload Date":UD})
Most_viewd_videos_on_YouTube

,Rank,Name,Artist,Views,Updload Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""[19]",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""[26]",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""[28]",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[34]",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""[35]",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""[36]",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""[37]",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""[38]",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""[39]",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""[43]",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""[45]",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""[46]",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""[47]",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""[48]",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""[50]",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""[51]",Enrique Iglesias,3.38,"April 11, 2014"

# Q2

Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [71]:
bcci=webdriver.Chrome()

In [75]:
bcci.get("https://www.bcci.tv/")
bcci.maximize_window()

In [82]:
view_all_button=bcci.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')
view_all_button.click()

In [85]:
MT=[]
try:
    mt=bcci.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in mt:
        MT.append(i.text)
        
except NoSuchElementException:
    MT.append('NA')
    
Series=[]
try:
    s=bcci.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in s:
        Series.append(i.text)
    
except NoSuchElementException:
    Series.append('NA')

Place=[]
try:
    p=bcci.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in p:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('NA')

Date=[]
try:
    d=bcci.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in d:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('NA')

Time=[]
try:
    t=bcci.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in t:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('NA')

In [86]:
India_Fixtures=pd.DataFrame({"Match Title":MT, "Series":Series, "Place":Place, "Date":Date, "Time":Time})
India_Fixtures

,Match Title,Series,Place,Date,Time
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,7:00 PM IST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,7:00 PM IST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,8:00 PM IST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,8:00 PM IST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,8:00 PM IST

# Q3

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [88]:
stats=webdriver.Chrome()
stats.get('http://statisticstimes.com/')
stats.maximize_window()

In [94]:
economy_button=stats.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_button.click()
indian_economy_button=stats.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
indian_economy_button.click()

In [95]:
gdp_states_button=stats.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_states_button.click()

In [97]:
table_body=stats.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody')

In [130]:
Rank = [] 
State = [] 
GSDP20 = []
GSDP19 = []
Share = [] 
GDP = [] 
data=[]

In [131]:
tags=table_body.find_elements(By.TAG_NAME,'td')
for i in tags:
    data.append(i.text)
Rank=data[0::8]
State=data[1::8]
GSDP20 = data[2::8]
GSDP19 = data[3::8]
Share = data[4::8] 
GDP = data[5::8]

In [135]:
len(Rank), len(State),len(GSDP20),len(GSDP19),len(Share),len(GDP)

(33, 33, 33, 33, 33, 33)

In [136]:
StateWise_GDP=pd.DataFrame({"Rank":Rank, "State":State, "GSDP19-20":GSDP20, "GSDP18-19":GSDP19, "Share":Share,"GDP($ billion)":GDP})
StateWise_GDP

,Rank,State,GSDP19-20,GSDP18-19,Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4

Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [468]:
github=webdriver.Chrome()
github.maximize_window()
github.get('https://github.com/')

In [469]:
#this code will work only after clicking inspect somewhere on the window
drop_down_menu=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
drop_down_menu.click()

In [470]:
open_source_button=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source_button.click()
trnding_button=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trnding_button.click()

In [471]:
links=[]
link=github.find_elements(By.XPATH,'//h2/a')
for i in link:
    links.append(i.get_attribute("href"))

In [465]:
RT=[]
rt=github.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in rt:
    RT.append(i.text)

In [472]:
RD=[]
for i in links:
    github.get(i)
    time.sleep(0.1)

    try:
        rd=github.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        RD.append(rd.text)

    except NoSuchElementException:
        RD.append('-')

In [478]:
LU=[]
for i in links:
    github.get(i)
    time.sleep(0.1)
    try:
        lu=github.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        LU.append(lu.text)
    
    except NoSuchElementException:
        LU.append('-')

In [485]:
CC=[]
for i in links:
    github.get(i)
    time.sleep(0.1)
    try:
        cc=github.find_element(By.XPATH,'//a/span[@class="Counter ml-1"][@title!=0]')
        CC.append(cc.text)
    
    except NoSuchElementException:
        CC.append('1')

In [486]:
len(RT),len(RD),len(LU),len(CC)

(25, 25, 25, 25)

In [487]:
trending_repositories=pd.DataFrame({'Repository Name':RT,'Repository Description':RD,'Languages Used':LU,'Contributors Count':CC})
trending_repositories

,Repository Name,Repository Description,Languages Used,Contributors Count
0,XingangPan /,Official Code for DragGAN (SIGGRAPH 2023),Python,10
1,THUDM /,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,Python,6
2,CASIA-IVA-Lab /,Fast Segment Anything,Python,10
3,ramonvc /,GPT 3.5/4 with a Chat Web UI. No API key requi...,Python,3
4,embedchain /,Framework to easily create LLM powered bots ov...,Python,5
5,spacedriveapp /,Spacedrive is an open source cross-platform fi...,Rust,64
6,xitanggg /,OpenResume is a powerful open-source resume bu...,TypeScript,1
7,papers-we-love /,Papers from the computer science community to ...,Shell,247
8,sadmann7 /,An open source e-commerce skateshop build with...,TypeScript,5
9,microsoft /,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript,205
10,sb-ocr /,A DIY navigation device for Fusion360,C++,1
11,THUDM /,ChatGLM-6B: An Open Bilingual Dialogue Languag...,Python,44
12,SizheAn /,"Code Repository for CVPR 2023 Paper ""PanoHead:...",Python,1
13,PlexPt /,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,-,19
14,firstcontributions /,🚀✨ Help beginners to contribute to open source...,-,"5,000+"
15,actualbudget /,A local-first personal finance system,JavaScript,52
16,xtekky /,The official gpt4free repository | various col...,Python,83
17,sveltejs /,Cybernetically enhanced web apps,JavaScript,610
18,Zeqiang-Lai /,"Unofficial Implementation of DragGAN - ""Drag Y...",Python,9
19,OpenDriveLab /,[CVPR 2023 Best Paper] Planning-oriented Auton...,Python,6
20,qgis /,"QGIS is a free, open source, cross platform (l...",C++,20
21,chat2db /,🔥 🔥 🔥 An intelligent and versatile general-pur...,Java,7
22,Kanaries /,PyGWalker: Turn your pandas dataframe into a T...,Python,11
23,ggerganov /,Tensor library for machine learning,C,48
24,StanGirard /,🧠 Dump all your files and thoughts into your p...,TypeScript,28

# Q5

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artistname
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [600]:
billboard=webdriver.Chrome()
billboard.maximize_window()
billboard.get('https:/www.billboard.com/')

In [601]:
#will work after clicking inspect somewhere on the target window
drop_down_menu=billboard.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
drop_down_menu.click()

In [602]:
charts_plus_button=billboard.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
charts_plus_button.click()

In [603]:
charts_100_button=billboard.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
charts_100_button.click()

In [619]:
SN=[]
sn1=billboard.find_element(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
SN.append(sn1.text)

In [620]:
sn99=billboard.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in sn99:
    SN.append(i.text)

In [621]:
AN=[]
an1=billboard.find_element(By.XPATH,'//*[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
AN.append(an1.text)

In [622]:
an99=billboard.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in an99:
    AN.append(i.text)

In [605]:
#scraping the details of first song seperately as its xpath is different from other songs
lwr1=billboard.find_element(By.XPATH,'(//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"])[1]')

pr1=billboard.find_element(By.XPATH,'(//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"])[2]')

wob1=billboard.find_element(By.XPATH,'(//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"])[3]')

In [606]:
table=[]
data=billboard.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in data:
    table.append(i.text)

In [611]:
LWR=[lwr1.text]+table[0::6]
PR=[pr1.text]+table[1::6]
WOB=[wob1.text]+table[2::6]

In [614]:
len(LWR),len(PR),len(WOB)

(100, 100, 100)

In [623]:
top_100_songs=pd.DataFrame({"Song Name":SN,"Artist Name":AN,"Last Week Rank":LWR,"Peak Rank":PR,"Weeks on Board":WOB})
top_100_songs

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

# Q6

Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare
You have to find the following details:
A) Book name B) Author name C) Volumes sold D) Publisher
E) Genre

In [393]:
novels=webdriver.Chrome()
novels.maximize_window()
novels.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [394]:
table=novels.find_element(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody')

In [406]:
data=[]
tags=table.find_elements(By.TAG_NAME,'td')
for i in tags:
    data.append(i.text)
    BN=data[1::6]
    AN=data[2::6]
    VS=data[3::6]
    P=data[4::6]
    G=data[5::6]

In [409]:
len(BN),len(AN),len(VS),len(P),len(G)

(100, 100, 100, 100, 100)

In [411]:
top_100_novels=pd.DataFrame({'Book Name':BN,'Author Name':AN,'Volumes Sold':VS,'Genre':G})
top_100_novels

,Book Name,Author Name,Volumes Sold,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Romance & Sagas
...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Food & Drink: General

# Q7

Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: A) Name
B) Year span
C) Genre
D) Run time E) Ratings F) Votes

In [427]:
imdb=webdriver.Chrome()
imdb.maximize_window()
imdb.get('https://www.imdb.com/list/ls095964455/')

In [428]:
N=[]
names=imdb.find_elements(By.XPATH,'//div/h3/a')
for i in names:
    N.append(i.text)

YS=[]
yearspan=imdb.find_elements(By.XPATH,'//*[@class="lister-item-year text-muted unbold"]')
for i in yearspan:
    YS.append(i.text)
    
G=[]
genre=imdb.find_elements(By.XPATH,'//*[@class="genre"]')
for i in genre:
    G.append(i.text)

RT=[]
runtime=imdb.find_elements(By.XPATH,'//*[@class="runtime"]')
for i in runtime:
    RT.append(i.text)

R=[]
ratings=imdb.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[@class="ipl-rating-star__rating"]')
for i in ratings[:100]:
    R.append(i.text)

V=[]
votes=imdb.find_elements(By.XPATH,'//p/span[@name="nv"]')
for i in votes:
    V.append(i.text)

In [418]:
len(N),len(YS),len(G),len(RT),len(R),len(V)

(100, 100, 100, 100, 100, 100)

In [429]:
top_100_series=pd.DataFrame({'Name':N,'Year Span':YS,'Genre':G,'Run Time':RT,'Ratings':R,'Votes':V})
top_100_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,173,730"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,251,557"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,502"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,561"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,734"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,957"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,994"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,548"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,402"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,206"

# Q8

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name B) Data type
C) Task
D) Attribute type E) No of instances F) No of attribute G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [660]:
uci=webdriver.Chrome()
uci.maximize_window()
uci.get('https://archive.ics.uci.edu/')

In [661]:
see_all_datasets_button=uci.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/section[1]/div[2]/a').click()

In [685]:
links=[]
link=uci.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    links.append(i.get_attribute('href'))

In [698]:
DN=[]
dn=uci.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dn:
    DN.append(i.text)

In [692]:
DT=[]
T=[]
AT=[]
I=[]
A=[]
Y=[]
for i in links:
    uci.get(i)
    try:
        dt=uci.find_element(By.XPATH,'(//p[@class="text-md"])[1]')
        DT.append(dt.text)
    except NoSuchElementException:
        DT.append("-")
        
    try:
        t=uci.find_element(By.XPATH,'(//p[@class="text-md"])[3]')
        T.append(t.text)
    except NoSuchElementException:
        T.append("-")
        
    try:
        at=uci.find_element(By.XPATH,'(//p[@class="text-md"])[4]')
        AT.append(at.text)
    except NoSuchElementException:
        AT.append("-")
        
    try:
        instance=uci.find_element(By.XPATH,'(//p[@class="text-md"])[5]')
        I.append(instance.text)
    except NoSuchElementException:
        I.append("-")
        
    try:
        a=uci.find_element(By.XPATH,'(//p[@class="text-md"])[6]')
        A.append(a.text)
    except NoSuchElementException:
        A.append("-")
    
    try:
        y=uci.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        Y.append(y.text)
    except NoSuchElementException:
        Y.append("-")

In [699]:
len(DN),len(DT),len(T),len(AT),len(I),len(A),len(Y)

(10, 10, 10, 10, 10, 10, 10)

In [700]:
uci_datasets=pd.DataFrame({"Dataset Name":DN,"Data Type":DT,"Task":T,"Attribute Type":AT,"Instances":I,"Attributes":A,"Year":Y})
uci_datasets

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Iris,Multivariate,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,Donated on 9/13/2020
4,Diabetes,"Multivariate, Time-Series","Categorical, Integer",20,-,-,-
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,8,Donated on 10/5/2019
6,Wine,Multivariate,Classification,"Integer, Real",178,13,Donated on 6/30/1991
7,Car Evaluation,Multivariate,Classification,Categorical,1728,6,Donated on 5/31/1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
9,Mushroom,Multivariate,Classification,Categorical,8124,22,Donated on 4/26/1987

# Q9

Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants . You have to find the following details:
A) Name
B) Designation
C)Company
D)Skills they hire for E) Location

In [701]:
naukri=webdriver.Chrome()
naukri.maximize_window()
naukri.get('https://www.naukri.com/hr-jobs')

In [702]:
links=[]
link=naukri.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in link:
    links.append(i.get_attribute('href'))

In [727]:
D=[]
C=[]
SR=[]
L=[]

In [728]:
for i in links:
    naukri.get(i)
    time.sleep(1)
    try:
        d=naukri.find_element(By.XPATH,'//h1[@class="jd-header-title"]')
        D.append(d.text)
    
    except NoSuchElementException:
        D.append("-")
        
    try:
        c=naukri.find_element(By.XPATH,'(//div[@class="jd-header-comp-name"])[1]')
        C.append(c.text.split(' ')[0])
    
    except NoSuchElementException:
        C.append("-")
        
    try:
        l=naukri.find_element(By.XPATH,'//span[@class="location "]')
        L.append(l.text)
    
    except NoSuchElementException:
        L.append("-")

In [733]:
HR_Recruiter_jobs=pd.DataFrame({"Designation":D,"Company":C,"Location":L})
HR_Recruiter_jobs

,Designation,Company,Location
0,Recruitment Opportunity For HR Executive,Kone4.21110,"Chennai,Tamil Nadu"
1,Human Resources Executive,Marriott4.21022,Chennai
2,HR Recruiter _ Bhubaneshwar (Btech Candidates ...,Tech,Bhubaneswar
3,HR Recruitment Scheduler Specialist - Bangalore,2coms,"Bangalore/Bengaluru, Bangalore"
4,Job opportunity For freshers/HR Recruiter/HR E...,Black,"Bangalore/Bengaluru( 1st Stage Indira Nagar, V..."
5,HR Payroll Executive,Cedcoss,Lucknow
6,HR Executive,Definedge,Pune
7,HR Executive,Bonami,"New Delhi, Delhi / NCR"
8,Direct Walk in Interview For HR Executive(Female),m2,"Gurgaon/ Gurugram,Haryana"
9,HR Executive,Reputed,"Bangalore/Bengaluru( Bannerghatta, Bannerghatt..."
10,Jr HR Executive,SPECTRAFORCE,"Mohali,Punjab"
11,HR Executive,Abhinav,"Mohali,Punjab"
12,HR Recruiter NonIT/BPO Recruitment,Cyitechsearch,"Lucknow,Uttar Pradesh"
13,Executive/ Assistant Manager HR Generalist - P...,OASIS3.960,"Pune,Maharashtra( Koregaon Park )"
14,Opening For Management Trainee / Executive - HR,Sahajanand,Mumbai (All Areas)
15,Recruiter - HR,Fashion,Mumbai
16,Assistant Manager - HR (Field Level Recruitment),Muthoot,"Bhubaneswar,Odisha, Hubli,Karnataka, Sambalpur..."
17,Hiring Freshers : HR Executive: Recruiter-Guru...,Advance,"Gurgaon/ Gurugram,Haryana"
18,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,3i,"Navi Mumbai,Maharashtra"
19,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,3i,"Navi Mumbai,Maharashtra"